<div class="search-block clearfix visible-lg visible-md">
  <div class="container">
    <div class="section-search">
      <span class="header--title"><%= t('home.section.search.title') %></span>

      <%= render partial: 'static_pages/home/search_form' %>
      <%= render partial: 'static_pages/home/about_service' %>

      <%= tag.div class: 'want-more' do %>
        <%= link_to t('home.section.search.want_more'), about_path, class: "btn-transp-big-20" %>
      <% end %>
    </div>
  </div>
</div>
