.ps--avatar-settings.cf
  = tag.div class: 'ps--avatar' do
    = current_user.avatar_or_gravatar(size: 80, css_class: 'rounded-circle')
  %span.d-block.mb-2= current_user.username
  = form_with(model: profile, url: profile_avatar_path, method: :patch, |
    class: 'avatar-form', data: { turbo: true, }) do |form|             |
    = form.file_field :avatar, class: 'profile-settings-file', id: 'avatar-file', |
      data: { image_upload: true },                                               |
      onchange: 'this.form.submit();'                                             |
    = form.button t('profile.edit.avatar.change_avatar'), id: 'submit-avatar', |
      class: 'profile--btn-green'                                              |
  - if profile.avatar.attached?
    = link_to t('profile.edit.avatar.delete_avatar'), profile_avatar_path,          |
      data: { turbo: true, turbo_method: :delete, turbo_confirm: 'Are you sure?' }, |
      class: 'ps--avatar-delete btn btn-danger profile--btn-red'                    |
