<aside class="profile-settings--sidebar cf">
  <%= render partial: 'profiles/avatar', locals: { profile: profile } %>

  <ul class="ps--nav">
    <li>
      <%= link_to t('profile.edit.sidebar.link.profile'), edit_profile_path,
                  class: active_controller == 'profiles' ? 'active' : '' %>
    </li>
    <li>
      <%= link_to t('profile.edit.sidebar.link.interests'), '#',
                  class: active_controller == 'interests' ? 'active' : '' %>
    </li>
    <li>
      <%= link_to t('profile.edit.sidebar.link.account'), edit_user_registration_path,
                  class: active_controller == 'registrations' ? 'active' : '' %>
    </li>
  </ul>

  <a href="#" class="btn-gray-blue">
    <i>←</i>
    <%= t('profile.edit.sidebar.button') %>
  </a>
</aside>