<% provide(:title, t('signup.title')) %>

<section class="section-sign-up">
  <div class="container">
    <div class="ui-auth-block">
      <h2 class="ui-auth-block__title">
        <%= t('signup.title') %>
      </h2>

      <%= render partial: 'devise/shared/social' %>

      <div class="ui-auth-section">
        <%= simple_form_for(resource, as: resource_name, url: user_registration_path) do |f| %>

          <div class="ui-auth__error_notification">
            <%#= f.error_notification %>
          </div>


          <div class="form-inputs">
            <div class="ui-auth-field">
              <%= f.input :username, label_html: { class: 'ui-auth-field__label' },
                          input_html: { class: 'generic-ui-input' },
                          required: true,
                          autofocus: true %>
            </div>
            <div class="ui-auth-field">
              <%= f.input :email, label_html: { class: 'ui-auth-field__label' },
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email", class: 'generic-ui-input' } %>
            </div>
            <div class="ui-auth-field">
              <%= f.input :password, required: true,
                          label_html: { class: 'ui-auth-field__label' },
                          hint: (t('signup.input.password.hint', value: @minimum_password_length) if @minimum_password_length),
                          input_html: { autocomplete: "new-password", class: 'generic-ui-input' } %>
            </div>
            <div class="ui-auth-field">
              <%= f.input :password_confirmation, required: true,
                          label_html: { class: 'ui-auth-field__label' },
                          input_html: { autocomplete: "new-password", class: 'generic-ui-input' } %>
            </div>
            <div class="ui-auth-field__terms">
              <%= f.input :tos_agreement, as: :boolean,
                          label: "#{t('signup.input.tos_agreement.label')} #{link_to t('signup.input.tos_agreement.link'),
                                                                                     terms_path, target: '_blank'}".html_safe %>
            </div>
          </div>

          <div class="ui-auth-form-buttons">
            <%= f.button :submit, t('simple_form.buttons.sign_up'), class: 'btn btn-green' %>

            <div class="ui-auth-form__links">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

