<% provide(:title, "Результат поиска: #{@query}") %>

<section class="search-results-title">
  <div class="container">
    <h1 class="search-main-title">Результат поиска:</h1>
  </div>
</section>

<section class="search-results-authors">
  <div class="container">

    <div class="wrapper clearfix">
      <span class="search-results-subtitle">
        Авторы (<%= @author_count %> <%= I18n.translate 'search.subtitle', count: @author_count %>)
      </span>

      <div class="catalog-book-list clearfix">

        <% if @authors.any? %>
          <% @authors.each do |author| %>
            <article class="catalog-book-list--item item-author-result">
              <figure>
                <%= link_to author_path(author), class: 'author-link', title: author.short_name do %>
                  <%= image_tag author_photo(author), class: 'book--image', alt: author.short_name %>
                  <%= content_tag(:h3, author.short_name) %>
                <% end %>
              </figure>
            </article>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="search-results-books">
  <div class="container">
    <span class="search-results-subtitle">
      Книги (<%= @book_count %> <%= I18n.translate 'search.subtitle', count: @book_count %>)
    </span>

    <div class="catalog-book-list">
      <%= render partial: 'books/book', collection: @books, cached: true %>
    </div>
  </div>
</section>
