<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= author.bio %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= author.birth_date %>
  </p>

  <p>
    <strong>Death date:</strong>
    <%= author.death_date %>
  </p>

  <p>
    <strong>Place of birth:</strong>
    <%= author.place_of_birth %>
  </p>

  <p>
    <strong>Place of death:</strong>
    <%= author.place_of_death %>
  </p>

</div>
