<% provide(:title, "Авторы на букву \"#{@initial}\"") %>

<section class="section section-authors">
  <div class="container">
    <div class="authors-wrapper">
      <div class="section-title-head">
        <h1 class="">Авторы на букву "<%= @initial %>"</h1>
      </div>

      <%= render partial: 'navigation' %>

      <h1 class="authors-title">
        Авторы на букву "<%= @initial %>"
      </h1>

      <div class="authors">
        <%= render partial: 'authors/author', collection: @authors, cached: true %>
      </div>

      <div class="d-flex justify-content-center mt-5 mb-2">
        <%= pagination(@pagy) %>
      </div>
    </div>
  </div>
</section>
