- provide(:title, "Авторы на букву \"#{@initial}\"")
%section.section.section-authors
  .container
    .authors-wrapper
      .section-title-head
        %h1
          Авторы на букву "#{@initial}"
      = render partial: 'navigation'
      %h1.authors-title
        Авторы на букву "#{@initial}"
      .authors
        = render partial: 'authors/author', collection: @authors, cached: true
      .d-flex.justify-content-center.mt-5.mb-2
        = pagination(@pagy)
