<% provide(:title, @author.short_name) %>

<section class="author-profile">
  <div class="container">
    <div class="d-flex author-wrapper">
      <div>
        <%= image_tag author_photo(@author), class: "author-image", alt: @author.full_author_name %>
      </div>

      <div class="author-title">
        <h1 class="h1"><%= @author.short_name %></h1>
        <h4><%= @author.full_author_name %></h4>
      </div>
    </div>
  </div>
</section>

<section class="section-author-details">
  <div class="container">
    <div class="author-block">
      <div class="d-flex author-info">
        <div class="author__quick">
          <ul class="author__quick-nav">
            <%= tag.li link_to 'Информация', '#author_information' %>
            <%= tag.li link_to 'Книги', '#author_books' %>
            <%= tag.li link_to 'Биография', '#author_bio' %>
            <%= tag.li link_to 'Интересные факты', '#author_interesting_facts' %>
            <%= tag.li link_to 'Рецензии', '#' %>
            <%= tag.li link_to 'Цитаты', '#' %>
          </ul>
        </div>

        <div class="author-info author-about">
          <h3 class="info-title" id="author_information">Информация</h3>

          <h4 class="genre mb-3">Жанры:
            <%= genres_links(@author) %>
          </h4>

          <%= birth_info(@author) do %>
            <% if format_birth_date(@author) %>
              <%= content_tag(:b, 'Дата и место рождения:') %>
              <%= format_birth_place(@author).present? ? format_birth_date(@author) + ',' : format_birth_date(@author) %>
              <%= format_birth_place(@author) if format_birth_place(@author) %>
            <% end %>
          <% end %>

          <p class="death-date">
            <% if @author.death_date %>
              <b>Дата смерти:</b> <%= format_date(@author.death_date) %>
            <% end %>
          </p>

          <% unless @author.author_pseudonyms.empty? %>
            <p>
              <%= content_tag(:b, 'Псевдонимы:') %>
              <% @author.author_pseudonyms.each do |pseudonym| %>
                <%= pseudonym.name %>,
              <% end %>
            </p>
          <% end %>

          <h3 class="books-title" id="author_books">Все книги автора</h3>

          <ol class="books-list">
            <% @books.each do |book| %>
              <%= tag.li class: %w() do %>
                <%= link_to book.title, book_path(book), title: book.title, class: "inline-block book-link" %>
              <% end %>
            <% end %>
          </ol>

          <h3 class="bio-title" id="author_bio">Биография</h3>
          <div class="bio-content">
            <p>
              <%= @author.bio %>
            </p>
          </div>

          <h3 class="facts-title" id="author_interesting_facts">Интересные факты</h3>
          <div class="facts-content">
            <ul>
              <li>Факт 1.</li>
              <li>Факт 2.</li>
            </ul>
          </div>
        </div>

        <div class="popular-books-container">
          <h3 class="popular-books-title">Популярные книги</h3>
          <div class="popular-books-flex">
            <% @books[0..5].each do |book| %>
              <div class="popular-book">
                <%= link_to book_path(book), title: book.title do %>
                  <%= image_tag book_cover(book), class: "popular-book-cover", alt: book.title, width: 135, height: 215 %>
                <% end %>
                <%= link_to book_path(book), class: "popular-book-title", title: book.title do %>
                  <%= truncate(book.title, length: 35) %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% if @author.seo_description %>
  <section class="section-author-seo">
    <div class="container clearfix">
      <p class="seo--author-description">
        <%= @author.seo_description %>
      </p>
    </div>
  </section>
<% end %>
