<% provide(:title, 'Forgot your password?') %>

<section class="section-sign-up">
  <div class="container">
    <div class="ui-auth-block">
      <h2 class="ui-auth-block__title">
        Восстановление пароля
      </h2>

      <div class="ui-auth-section">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

          <div class="ui-auth__error_notification">
            <%= f.error_notification %>
          </div>

          <div class="ui-auth-field ui-auth-field__reset">
            <%= f.input :username, label_html: { class: 'ui-auth-field__label' },
                        required: true, autofocus: true, label: 'E-mail / Имя пользователя:',
                        placeholder: 'E-mail / Имя пользователя',
                        input_html: { autocomplete: "email", class: 'generic-ui-input' } %>
          </div>

          <div class="ui-auth-form-buttons">
            <%= f.button :submit, "Reset password", class: 'btn btn-green btn-reset' %>
            <div class="ui-auth-form__links">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>