<article class="catalog-book-list--item">
  <div class="book-hover--librarian-wrap">
    <%= link_to book_path(book), title: "#{book.title}" do %>
      <%= image_tag(book_cover(book), alt: "#{book.title}", class: "book--image") %>
    <% end %>
  </div>
  <%= link_to book_path(book), title: "#{book.title}" do %>
    <h3><%= truncate(book.title, length: 35) %></h3>
  <% end %>

  <% if book.author? %>
    <span class="book--author">
    <%= link_to author_path(book.first_author), title: "#{book.author_names.split(',').join(', ')}", class: 'text-decoration-none' do %>
              <%= book.short_author_name %>

    <% end %>
    </span>
  <% end %>
</article>
