<div class="book_info">
  <h1 class="book_title mb-3"><%= book.title %></h1>

  <% if book.author? %>
    <h2 class="author mb-3"> Автор:
      <%= author_links(book) %>
    </h2>
  <% end %>

  <h2 class="genre mb-3">Жанры:
    <%= genres_links(book) %>
  </h2>

  <div class="rating d-flex align-items-center mb-3">
    <span>Рейтинг:</span>
    <div class="stars me-2 ms-2">
      <%= stars_for_rating(book.rating) %>
    </div>
    <div class="rating-text">
      <span class="my-0"><%= "#{book.rating}/5 (100 голосов)" %></span>
    </div>
  </div>

  <div class="description mb-3 fs-5">
    <% if book.description? %>
      <h5>Описание</h5>
      <div class="mt-2">
        <p class="description-text">
          <%= book.description %>
        </p>
      </div>
    <% end %>
  </div>
</div>