<div class="col-lg-8 mx-auto">
	<%= simple_form_for @book do |f| %>
		<%= f.error_notification %>

		<div class="form-inputs my-3">
			<%= f.input :cover, as: :file, required: false %>
			<%= f.input :title, required: true, minlength: 1, maxlength: 70,
									placeholder: gen_book_title %>

			<%= f.input :author_names, label: "Authors",
									input_html: { value: @book.author_names,
																autocomplete: "off",
																required: true } %>

			<%#= f.input :genre, collection: Book.genres, required: false %>

			<%= f.input :description, required: false, as: :text, input_html: { 'rows': 15, 'cols': 10 }, maxlength: 3000, placeholder: gen_book_description %>
		</div>

		<div class="form-actions d-grid gap-2 d-md-block">
			<%= f.button :submit, class: 'btn btn-success' %>

			<% if params[:action] == "edit" || params[:action] == "update" %>
				<%= link_to "Delete", @book, class: 'btn btn-danger', data: { turbo: true, turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
			<% end %>

			<%= link_to 'Back', books_path, class: 'btn btn-secondary' %>
		</div>
	<% end %>
</div>

