<h1>All Books</h1>

<div class="row row-cols-2 row-cols-lg-6 g-4 g-lg-6 mt-2">
  <% @books.each do |book| %>
    <div class="col mb-3">
      <div class="card h-100">
        <%= link_to edit_book_path(book.id), class: 'edit-icon' do %>
          <i class="material-icons edit-book">edit_note</i>
        <% end %>

        <%= link_to book_path(book), title: "#{book.author} - #{book.title}" do %>
          <%= image_tag(cover(book), alt: "Book Cover", class: "cover card-img-top") %>
        <% end %>

        <div class="card-body d-flex flex-column align-items-center justify-content-center">
          <h5 class="card-title fs-6 text-center"><%= book.title %></h5>
          <p class="card-text text-center"><%= book.author %></p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-primary">Want to Read</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
