<% provide(:title, @book.title) %>

<section class="section-book">
  <div class="container">
    <div class="row book_wrapper">
      <div class="col-md-4 text-center book_cover">
        <div class="card-img book-card-img">
          <%= link_to edit_book_path(@book), class: 'btn btn-secondary btn-sm card-edit-btn', title: 'Edit' do %>
            <span class="material-icons">edit</span>
          <% end %>
          <%= link_to [:archive, @book], class: 'btn btn-danger btn-sm card-delete-btn',
                      data: { turbo: true, turbo_method: :patch,
                              turbo_confirm: 'Are you sure?' } do %>
            <%#= link_to book_path(@book), data: { turbo: true, turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm card-delete-btn" do %>
            <span class="material-icons">delete</span>
          <% end %>
          <%= image_tag(book_cover(@book), width: 300, alt: "#{@book.title}", class: "img-fluid") %>

          <div class="d-grid gap-2 book-card-button">

            <% if current_user&.reading_lists&.exists?(book_id: @book.id) %>
              <%= form_tag book_reading_list_path(@book), method: :patch, class: 'mt-3' do %>
                <%= select_tag :reading_status,
                               options_for_select(ReadingList.humanized_statuses, current_user.user_book_status(@book)),
                               class: 'form-select mb-2' %>
                <%= submit_tag "Добавить в список чтения", class: 'btn btn-primary btn-half-width mt-3' %>
              <% end %>

            <% else %>

              <%= form_tag book_reading_lists_path(@book), method: :post, class: 'mt-3' do %>
                <%= select_tag :reading_status,
                               options_for_select(ReadingList.humanized_statuses),
                               class: 'form-select mb-2' %>
                <%= submit_tag "Добавить в список чтения", class: 'btn btn-primary btn-half-width' %>
              <% end %>
            <% end %>

            <% if current_user&.reading_lists&.exists?(book_id: @book.id) %>
              <%= button_to book_reading_list_path(@book), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-half-width' do %>
                Удалить из списка
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
      <div class="col-md-8">
        <%= render partial: 'books/book_info', locals: { book: @book } %>
        <hr>
        <%= render partial: 'books/reviews', locals: { book: @book, reviews: @reviews, review: @review } %>
      </div>
    </div>
  </div>
</section>
