<% provide(:title, @book.title) %>

<section class="section-book">
  <div class="container">
    <div class="row book_wrapper">
      <div class="col-md-4 text-center book_cover">
        <div class="card-img book-card-img">
          <%= link_to edit_book_path(@book), class: 'btn btn-secondary btn-sm card-edit-btn', title: 'Edit' do %>
            <span class="material-icons">edit</span>
          <% end %>
          <%= link_to book_path(@book), data: { turbo: true, turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm card-delete-btn" do %>
            <span class="material-icons">delete</span>
          <% end %>
          <%= image_tag(book_cover(@book), width: 300, alt: "#{@book.title}", class: "img-fluid") %>

          <div class="d-grid gap-2 book-card-button">
            <button class="btn btn-primary btn-half-width mt-3" type="button">Want to Read</button>
          </div>

        </div>
      </div>
      <div class="col-md-8">
        <%= render partial: 'books/book_info', locals: { book: @book } %>
        <hr>
        <%= render partial: 'books/reviews', locals: { book: @book, reviews: @reviews, review: @review } %>
      </div>
    </div>
  </div>
</section>
