<div class="col-2">
  <h5 class="footer-title">Разделы</h5>
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <%= link_to 'Что почитать', books_path, class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Популярные книги', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Рейтинг книг', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Подборки книг', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Книжные новинки', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Популярные авторы', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Случайная книга', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
  </ul>
</div>

<div class="col-2">
  <h5 class="footer-title">Обсуждения</h5>
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <%= link_to 'Топики', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Рецензии', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Флешмобы', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Игры', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Конкурсы', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Флудилка', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
  </ul>
</div>

<div class="col-2">
  <h5 class="footer-title">О проекте</h5>
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <%= link_to 'Описание сервиса', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Вопрос-ответ', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Обратная связь', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Предложения', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Правообладателям', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Контакты', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to 'Правила', '#', class: 'footer-subtitle nav-link p-0' %>
    </li>
  </ul>
</div>