<div id="review-<%= review.id %>" class="card card-review mb-3">
  <div class="card-body">
    <article>
      <h5 class="card-title"><%= review.title %></h5>
      <div class="card-text mb-3">
        <div class="card-review-hidden trix-content"><%= review.body %></div>
        <div class="review-content">
          <%= summary(review, :body, length: 290) %>
        </div>
        <%= link_to 'Read more...', '#', class: 'review-read-more' %>
      </div>
      <div class="card-text mb-3">
        <small class="text-muted">
          Автор отзыва, <time datetime="<%= formatted_created_at(review)%>", title="<%= formatted_created_at(review)%>" >
          <%= formatted_created_at(review) %>
        </time>
        </small>
      </div>
      <div class="btn-group">
        <%= link_to 'Edit', edit_book_review_path(book, review), class: 'btn btn-secondary', title: 'Edit' %>
        <%= link_to 'Delete', book_review_path(book, review), class: 'btn btn-danger', data: { turbo: true, turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      </div>
    </article>
  </div>
</div>