<%= tag.div class: 'card card-review mb-3', id: dom_id(review) do %>
  <div id="review-<%= review.id %>">
    <div class="card-body">
      <article>
        <h5 class="card-title"><%= review.title %></h5>
        <div class="card-text mb-3">
          <div class="card-review-hidden trix-content"><%= review.body %></div>
          <div class="review-content">
            <%= summary(review, :body, length: 290) %>
          </div>
          <%= review_read_more_link(review, 290, :body) %>
        </div>
        <div class="card-text mb-3">
          <small class="text-muted">
            <%= review.user.username %>,
            <time datetime="<%= review.formatted_created_at %>" , title="<%= review.formatted_created_at %>">
              <%= review.formatted_created_at %>
            </time>
          </small>
        </div>
        <div class="mt-2">
          <%= link_to t('simple_form.buttons.edit'), edit_book_review_path(book, review), class: 'btn btn-secondary', title: 'Edit' %>
          <%= link_to t('simple_form.buttons.delete'), book_review_path(book, review), class: 'btn btn-danger',
                      data: { turbo: true, turbo_method: :delete,
                              turbo_confirm: 'Are you sure?' } %>
        </div>
      </article>
    </div>
  </div>
<% end %>