<div class="col-lg-10 mx-auto">

  <div class="form-review">
    <%= simple_form_for [book, review] do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-inputs my-3">
        <%= f.input :title, required: true, minlength: 1,
                    maxlength: 70, placeholder: t('review.form.input.title.placeholder'),
                    label: t('review.form.input.title.label') %>
      </div>

      <div class="form-inputs my-3">
        <%= f.input :body, required: true, minlength: 10,
                    maxlength: 3000, placeholder: t('review.form.input.body.placeholder'),
                    label: t('review.form.input.body.label'), as: :rich_text_area, class: 'customized-height' %>
      </div>

      <div class="form-actions d-grid gap-2 d-md-block">
        <%= f.button :submit, class: 'btn btn-success' %>

        <%= link_to t('simple_form.buttons.back'), book_url(book), class: 'btn btn-secondary' %>

        <% if action_name == 'edit' %>
          <%= link_to t('simple_form.buttons.delete'), book_review_path(book, review),
                      class: 'btn btn-danger',
                      data: { turbo: true, turbo_method: :delete,
                              turbo_confirm: t('simple_form.buttons.turbo_confirm_delete') } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>