<div class="about-service">
  <div class="about-service--item ">
    <div class="service-name">
      <div class="icon">
        <%= icon_tag('search') %>
      </div>

      <div class="text">
        <%= sanitize t('home.section.search.about.item.interesting_books'),
                     tags: %w(span br) %>
      </div>
    </div>
  </div>

  <div class="about-service--item bibl">
    <div class="service-name">
      <div class="icon">
        <%= icon_tag('library_books') %>
      </div>

      <div class="text">
        <%= sanitize t('home.section.search.about.item.collect_library'),
                     tags: %w(span br) %>
      </div>
    </div>
  </div>

  <div class="about-service--item rate">
    <div class="service-name">
      <div class="icon">
        <%= icon_tag('chat') %>
      </div>

      <div class="text">
        <%= sanitize t('home.section.search.about.item.rate_and_discuss'),
                     tags: %w(span br) %>
      </div>
    </div>
  </div>

  <div class="about-service--item track">
    <div class="service-name">
      <div class="icon">
        <%= icon_tag('groups') %>
      </div>

      <div class="text">
        <%= sanitize t('home.section.search.about.item.follow_friends_reading'),
                     tags: %w(span br) %>
      </div>
    </div>
  </div>
</div>